<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCities" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownCities">
          <a class="dropdown-item" href="/west-yorkshire/bradford">Bradford</a>
          <a class="dropdown-item" href="/west-yorkshire/leeds">Leeds</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTowns" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Towns
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownTowns">
          <a class="dropdown-item" href="/west-yorkshire/dewsbury">Dewsbury</a>
          <a class="dropdown-item" href="/west-yorkshire/huddersfield">Huddersfield</a>
          <a class="dropdown-item" href="/west-yorkshire/skipton">Skipton</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
